.card-component {
    height: 18vh;
    width: 30vw;
    white-space: nowrap;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 8px;
    background: rgba(106,90,205, 0.4);
}

.card-component a {
  padding: 10px;
  text-decoration: none;
}

h4 {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #fff;
  text-decoration: none;
}

.card-component:hover {
  transform: scale(1.05);
  transition: 500ms linear;
}

.card-component p {
  display: none;
  color: #fff;
}

.card-component:hover h4 {
  display: none;
  opacity: 0;
}

.card-component:hover p {
  position: relative;
  display: flex;
}
