.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: 8vh 0vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(#9198e5, #e66465);
  font-family: 'Poppins', serif;
}

.container {
  max-width: 80vw;
  display: flex;
}

.category-sector {
  max-width: 20vw;
  min-width: 250px;

  height: 80vh;
  flex-wrap: wrap;
  display: flex;
  align-itens: center;
  justify-content: center;
  padding: 10px;
  background: rgba(112, 128, 144, 0.7);
  border-radius: 8px;
}

.data-sector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-sector div {
  margin-left: 10px;
}

.data-sector p {
  font-size: 14px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

.title {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}


.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 300;
  
}

.list a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  color: white;
}

.list a:hover {
  transition-duration: 3s;
  color: #e66465;
}


.separator {
  width: 100%;
  margin: 20px;
  border-width: 3px;
  border-color: white;
}

.body-sector {
  min-height: 90vh;
  width: 70%;
  max-width: 60vw;
  margin: 0px 20px;
  padding: 10px 20px;
  flex-wrap: wrap;
  border-radius: 8px;
  background: rgba(112, 128, 144, 0.7);
}

.body-sector p {
  padding: 0px;
  margin: 0px;
}

.mobile-sector-only {
  display: none;
}

.body-sector p {
  font-size: 18px;
  text-align: left;
}

.knowledge {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: rgba(119, 136, 153, 0.8);
  border-radius: 8px;
}

.knowledge p {
  font-weight: 400;
  font-size: 12px;
  background: rgba(106,90,205);
  margin: 5px 5px;
  padding: 3px;
  border-radius: 5px;
}

.knowledge p:hover {
  transition-duration: 3s;
  background: #e66465;

}

.title-body {
  text-align: center;
  font-weight: 700;
}

.player {
  width: 50%;
  height: 50%;
  padding: 0px;
  margin: 0px;
}

.profile-front-image-view {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
} 

.certificacion-container {
  height: 20vh;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 8px;
  background: rgba(119, 136, 153, 0.8);
}

.card {
  height: 80%;
  display: flex;
}


.profile-image {
  width: 50%;
  border-radius: 48%;
}

.card-box {
  flex: 1;
  min-width: 90px;
  padding: 0px 10px;
  margin: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  button-shadow: none;
  background: rgba(106,90,205, 0.4);
    text-decoration: none;
}

.card-box p {
  text-decoration: none;

}

@media (max-width: 1000px) {
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
  }

  .container {
    display: block;
    width: 100vw;
  }

  .mobile-sector-only {
    min-width: 80vw;
    min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 10px;
    padding: 10px 10px;
    border-radius: 8px;
    background: rgba(112, 128, 144, 0.7);
  }

  .body-sector {
    margin: 20px 10px;
    padding: 10px 10px;
    min-width: 80vw;
    min-height: 40vh;
  }
  
  .mobile-sector-only p {
    padding: 0px;
    margin: 0px;
  }

  .profile-text div {
    padding-top: 20px;
    justify-content: space-between;
  }

  .github-link {
    text-decoration: none;
    color: white;
    background: black;
    padding: 8px;
    border-radius: 8px;
  }

  .linkedin-link {
    text-decoration: none;
    color: white;
    background: #0A66C2;
    padding: 8px;
    border-radius: 8px;
  }

  .instagram-link {
    text-decoration: none;
    color: white;
    background: linear-gradient(#833AB4, #FFDC80);
    padding: 8px;
    border-radius: 8px;
  }

  .mobile-sector-only h4 {
  }

  .mobile-sector-only h4{
    padding: 0px;
    margin: 15px 0px 0px 0px;
  }

  .profile-image {
    width: 30vw;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .profile-text {
    padding: 10px 0px;
    margin: 0px;
  }

  .profile-text div {
    flex: 1;
    justify-content: center;
  }

  .profile-text a {
    font-size: 16px;
    margin: 0px 10px;
  }

  .category-sector {
    display: none;
  }

  .body-sector p {
    font-size: 16px;
  }
}
