.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(#9198e5, #e66465);
  text-align: center;
}

.category-sector {
  width: 20%;
  height: 90vh;
  margin: 0px 10px;
  background: #708090;
  border-radius: 8px;
}

.body-sector {
  width: 80%;
  height: 90vh;
  margin: 0px 10px;
  flex-wrap: wrap;
  border-radius: 8px;
  background: rgba(112,128,144, 0.7);
}

.body-sector p {
  font-size: 18px;
}

.body-sector div {
  margin: 10px;
}

.player {
  width: 80vw;
  height: 80vh;
}

@media (max-width: 1000px) {
  .category-sector {
    display: none;
  }
  .App {
    justify-content: center;
  }
}
